body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background color */
}

header {
    background-color: #ffffff; /* White background for the header */
    color: #333333; /* Dark grey text color for contrast */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    text-align: left; /* Align the title to the left */
}

nav {
    text-align: right; /* Align navigation links to the right */
}

nav ul {
    list-style-type: none; /* No bullets on navigation links */
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Spacing between navigation links */
}

nav ul li a {
    color: #000000; /* Black color for navigation links */
    text-decoration: none; /* No underline by default */
    font-weight: 600; /* Bold font weight for better legibility */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover for visual feedback */
}

.event-image img {
    width: 100%; /* Adjust width as necessary */
    max-width: 600px; /* Max width for the image */
}

.event-text {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* White background */
}

.event-text h3 {
    color: #0056b3; /* Theme color for the heading */
}

.event-text p {
    margin: 5px 0;
}

button {
    background-color: #004494; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #003366; /* Darker blue on hover */
}

footer {
    background-color: #333; /* Dark grey footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
