body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background color */
}

header {
    background-color: #ffffff; /* White background for the header */
    color: #333333; /* Dark grey text color for contrast */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none; /* No bullets */
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000000; /* Black color for links */
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

.event-header {
    background-size: cover;
    text-align: center;
    padding: 50px 20px; 
}

.event-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.event-image img {
    width: 100%; /* Adjust width as necessary */
    max-width: 600px; /* Max width for the image */
}

.event-text {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* White background */
}

.event-text h3 {
    color: #0056b3; /* Theme color for the heading */
}

.event-text p {
    margin: 5px 0;
}

button {
    background-color: #004494; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #003366; /* Darker blue on hover */
}

footer {
    background-color: #333; /* Dark grey footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White background for the dropdown */
    min-width: 160px; /* Adjust width as necessary */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Black text for contrast */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* Text aligned to the left */
}

.dropdown-content a:hover {
    background-color: #ffffff; /* Background remains white on hover */
    color: #0056b3; /* Change text color to blue for a subtle highlight */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a {
    background-color: #ffffff; /* Light grey background for the dropdown button on hover */
}
