body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background color */
}

header {
    background-color: #ffffff; /* White background for the header */
    color: #333333; /* Dark grey text color for contrast */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none; /* No bullets */
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000000; /* Black color for links */
    text-decoration: none; /* No underline */
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

.video-description {
    margin-top: 8px; /* Adds space between the video and the text */
    font-size: 14px; /* Sets the font size */
    color: #333; /* Sets the text color */
    text-align: center; /* Centers the text below the video */
}

.video-gallery {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distributes space between videos */
    gap: 20px; /* Provides space between each video */
}

.video-container {
    flex: 1 1 22%; /* Sets the basis for each video container to not exceed 22% of the parent's width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
}

video {
    width: 100%; /* Makes video responsive within its container */
    height: auto; /* Maintains aspect ratio */
}
footer {
    background-color: #333; /* Dark grey footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White background for the dropdown */
    min-width: 160px; /* Adjust width as necessary */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Black text for contrast */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* Text aligned to the left */
}

.dropdown-content a:hover {
    background-color: #ffffff; /* Background remains white on hover */
    color: #0056b3; /* Change text color to blue for a subtle highlight */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a {
    background-color: #ffffff; /* Light grey background for the dropdown button on hover */
}
