body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-image, .building-image {
    width: 100%;
    height: auto;
    display: block;
}

.intro-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.building-image {
    width: 50%; /* Adjust size as needed */
}

.welcome-text {
    width: 50%; /* Adjust size as needed */
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004494;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
